.boardContainer{
    position: absolute;
    padding: 10px;
    left: 85%;
    top: 5%;
    background-color: lightskyblue;
    box-shadow: black 1px 1px 1px;
    z-index:10100;
}

.inside{
    position: relative;
}

.boardContainer h4{
    background-color: beige;
    padding: 3px;
    font-size:12px;
}