.clickedImgContainer{
    /*background-color: black;*/
    height: 80px;
    width: 50px;
    position: relative;
    top: 0;
    z-index: 10002;
    /*float: left;*/
    text-align: center;
    box-sizing: border-box;
    padding:0;
}

.clickedImgSrc{
    height: 50px;
    width: 50px;
    background-size: cover;
    background-color: black;
    position: relative;
    border: #fff 1px solid;
}

.clickedImgSrc img{
    height: 50px;
    width: 50px;
}

.clickedImgNum{
    width: 50px;
}